{% extends 'layout.html' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Welcome to Neuryle</h1>
    <p class="lead"> This application helps you stylize your photos </p>
  </div>

<style>
.imgdes{
    padding: 20px 20px;
}
</style>

      <form class="form-inline my-2 my-lg-0" action = "http://localhost:5000/" method = "POST"
        enctype = "multipart/form-data" name="content">

          <img src = "{{ content_image }}" alt="User Image" height="300" width="400" class="imgdes"/>
          <input type = "file" name = "file" value = "content_file" class="">

          <img src="../static/images/add.png" alt="add" height="50px" width="50px">

          <img src = "{{ style_image }}" alt = "Style Image" height="300" width="400" class="imgdes" />
          <input type = "file" name= "file1" value = "style_file">

          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Upload '.jpg' files</button>

     </form>

     <form class="form-inline my-2 my-lg-0" align='center' action = "http://localhost:5000/result" method = "POST">
       <p>
         <button class="btn btn-lg btn-primary btn-block" width='100px'   type="submit" align='center'>Stylize</button>
       </p>
     </form>
{% endblock %}
